<app-slides></app-slides>

<div class="container">

    <section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Nos services</h2>
    <p class="text-center w-responsive mx-auto mb-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
     
      </section>
    <app-services></app-services>

      <section class="my-5">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Nos services</h2>
    <p class="text-center w-responsive mx-auto mb-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum.</p>
     
      </section>

    <app-posts></app-posts>
</div>